html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #F6F8F6;
  font-family: 'Andada Pro', serif;
  font-size: 0.875rem;
  color: #444;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
}

p {
  margin-bottom: 20px;
}

strong {
  font-weight: 500;
}

label {
  margin-bottom: 3px;
  padding-left: 3px;
}

hr {
  margin: 30px 0 30px 0;
  border: 0;
  border-top: 1px solid #dddddd;
}

.main_title {
  position: relative;
  margin-bottom: 45px;
  text-align: center;

  h1, h2 {
    /*font-size: 36px;*/
    font-size: 2.25rem;
    font-weight: 500;
    margin: 0;
    position: relative;
    z-index: 2;
  }

  h1 {
    font-size: 42px;
    font-size: 2.625rem;
  }

  span {
    display: block;
    content: attr(data-mask);
    position: absolute;
    text-align: center;
    margin-top: -15px;
    top: 0;
    font-weight: 900;
    font-size: 65px;
    line-height: 1;
    z-index: 1;
    color: #00000021;
    text-transform: uppercase;
    width: 100%;
  }

  p {
    font-size: 23px;
    font-size: 1.4375rem;
    font-weight: 300;
    padding: 0 15%;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 767px) {
  .main_title {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .main_title {
    h1, h2 {
      font-size: 28px;
      font-size: 1.75rem;
    }
  }
}

@media (max-width: 767px) {
  .main_title h1 {
    font-size: 32px;
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .main_title span {
    font-size: 45px;
    font-size: 2.8125rem;
  }
}

@media (max-width: 767px) {
  .main_title p {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 0;
  }
}

.page_header {
  margin-bottom: 30px;

  h1 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0 0 5px 0;
  }
}

.breadcrumbs {
  line-height: 1;
  color: #555;

  ul {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 12px;
    font-size: 0.75rem;

    li {
      display: inline-block;
      margin-right: 7px;
      padding-right: 8px;
      position: relative;

      a {
        color: #777;

        &:hover {
          color: black;
        }
      }

      &:after {
        font-family: 'themify';
        content: "\e649";
        font-size: 10px;
        font-size: 0.625rem;
        position: absolute;
        display: inline-block;
        top: 2px;
        margin-left: 3px;
      }

      &:last-child {
        font-weight: 500;

        &:after {
          content: '';
          margin-right: 0;
        }
      }
    }
  }
}

/*General links color*/
a {
  color: black;
  text-decoration: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;

  &:hover, &:focus {
    color: #111;
    text-decoration: none;
    outline: none;
  }

  &.btn_1 {
    text-align: center;
    border: none;
    color: #fff;
    background: #3a87ad;
    outline: none;
    text-decoration: none;
    padding: 12px 25px;
    font-weight: 500;
    font-size: 0.875rem;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    line-height: normal;
    font-family: var(--bs-body-font-family);
  }
}
