.table > :not(caption) > * > * {
  padding: 0.5rem 1.2rem;
}

.no-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
  /*background-size: cover;*/
  background-image: url("../img/cart/continute-shopping.gif");
}

.no-product > p {
  background: #E94C35;
  color: whitesmoke;
}

.no-product-female {
  background-image: url("../img/cart/continue_shopping_female.gif");
}

.no-product-male {
  background-image: url("../img/cart/continue_shopping_male.gif");
}

.no-product > p {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.no-product-female > p {
  background: #FFF7E9;
  color: black;
}

.no-product-male > p {
  background: #E4E3C3;
  color: black;
}

body {
  min-height: 100vh;
}

main {
  margin-bottom: 10px;
  background: #F8F8F8;
}
main .quantity {
  width: 100px;
}
main .quantity div {
  height: 32.5px;
}
main .quantity input {
  height: 32.5px;
}
main .custom-select-form {
  width: 90px;
}
main .container {
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
main .title {
  margin-bottom: 5vh;
}
main .card {
  margin: auto;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
@media (max-width: 767px) {
  main .card {
    margin: 3vh auto;
  }
}
main .cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media (max-width: 767px) {
  main .cart {
    padding: 4vh;
    border-bottom-left-radius: unset;
    border-top-right-radius: 1rem;
  }
}
main .summary {
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: #414141;
}
@media (max-width: 767px) {
  main .summary {
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
  }
}
main .summary .col-2 {
  padding: 0;
}
main .summary .col-10 {
  padding: 0;
}
main .row {
  margin: 0;
}
main .title b {
  font-size: 1.5rem;
}
main .main {
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
main .col-2,
main .col {
  padding: 0 1vh;
}
main a {
  padding: 0 1vh;
}
main .close {
  margin-left: auto;
  font-size: 0.7rem;
}
main .back-to-shop {
  margin-top: 4.5rem;
}
main h5 {
  margin-top: 4vh;
}
main hr {
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
  margin-top: 1.25rem;
}
main form {
  padding: 2vh 0;
}
main select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: #f7f7f7;
}
main input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: #f7f7f7;
}
main input:focus::-webkit-input-placeholder {
  color: transparent;
}
main a {
  color: black;
}
main a:hover {
  color: black;
  text-decoration: none;
}
main #code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}
main .item-price {
  min-width: 120px;
  height: 32.5px;
  line-height: 32.5px;
}

main > img {
  width: 3.5rem;
}

.summary > .btn_1 {
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}

.back-to-shop span {
  margin-left: 5px;
}

/*# sourceMappingURL=cart-page.css.map */
