/*#mm-0 {*/
/*    z-index: 10;*/
/*}*/

header.version_1 .main_nav {
    background-color: #3a87ad;
}

header.version_1 .main_nav ul.top_tools > li a:hover {
    color: #fff;
}

header.version_1 .main_nav ul.top_tools > li .dropdown-cart:hover > a, header.version_1 .main_nav ul.top_tools > li .dropdown-access:hover > a {
    color: #fff;
}

header.version_1 .menu ul li > span a:hover {
    color: #fff;
}

.nice-select.wide {
    width: 100%;
    height: calc(1.75em + .75rem + -4px);
}

.nice-select {
    padding-top: 0;
}

.top_panel.show{
    top: 60px;
}
.alert-warning{
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
