@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Hahmlet:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'header_icons';
    src: url("fonts/header_icons.eot");
    src: url("fonts/header_icons.eot?#iefix") format("embedded-opentype"), url("fonts/header_icons.woff") format("woff"), url("fonts/header_icons.ttf") format("truetype"), url("fonts/header_icons.svg#header_icons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
