.grid-item {
  .grid_item {
    width: 90%;
    margin: auto auto 50px;
    text-align: center;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
